<link rel="stylesheet" href="/stylesheets/index.css">

<div class="col-12 banner-wrap">
    <img src="/images/banner.jpg" alt="Banner" class="banner">
    <div class="embedded-btn">
        <a href="#">SHOP NOW</a>
    </div>
</div>
<div class="col-12 showcase">
    <div class="row">
        <div class="col-12 col-md-6 col-left text-center">
            <a href="/product/product_chuck70_lowtop">
                <img src="/images/ct70.jpg" alt="Chunk 70 Low Top" class="product">
            </a>
            <div class="descr">
                <h3>Keep It Classic</h3>
                <p>
                    Chuck 70. Iconic look. Effortless style.
                </p>
                <div>
                    <a href="/product/product_chuck70_lowtop">SHOP NOW</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-right text-center">
            <a href="/product/product_chuck70_hightop">
                <img src="/images/canvns.jpg" alt="Chunk 70 High Top" class="product">
            </a>
            <div class="descr">
                <h3>Going Up</h3>
                <p>
                    Get closer to your highest amibitions
                </p>
                <div>
                    <a href="/product/product_chuck70_hightop">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>